---
- name: Download defined images
  loop: "{{ libvirt_images }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - true if item.state is undefined else item.state == 'present'
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "/var/lib/libvirt/images/{{ item.name }}"
    checksum: "{{ item.checksum | default(omit) }}"
    owner: libvirt-qemu
    group: kvm
    mode: u=rw,g=rw,o=
  tags:
    - libvirt
    - images

- name: Remove defined images
  loop: "{{ libvirt_images }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - false if item.state is undefined else item.state == 'absent'
  ansible.builtin.file:
    path: "/var/lib/libvirt/images/{{ item.name }}"
    state: absent
  tags:
    - libvirt
    - images

- name: Create archive path
  loop: "{{ libvirt_archives }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - true if item.state is undefined else item.state == 'present'
  ansible.builtin.file:
    path: "/var/lib/libvirt/images/{{ item.name }}"
    owner: libvirt-qemu
    group: kvm
    mode: u=rwx,g=x,o=x
    state: directory
  tags:
    - libvirt
    - images

- name: Download defined archives
  loop: "{{ libvirt_archives }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - true if item.state is undefined else item.state == 'present'
  ansible.builtin.unarchive:
    src: "{{ item.url }}"
    dest: "/var/lib/libvirt/images/{{ item.name }}"
    include: "{{ omit if item.include is undefined else item.include }}"
    exclude: "{{ omit if item.exclude is undefined else item.exclude }}"
    remote_src: true
    owner: libvirt-qemu
    group: kvm
    mode: u=rw,g=rw,o=
    creates: "{{ omit if item.creates is undefined else item.creates }}"
  tags:
    - libvirt
    - images

- name: Remove defined archives
  loop: "{{ libvirt_archives }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - false if item.state is undefined else item.state == 'absent'
  ansible.builtin.file:
    path: "/var/lib/libvirt/images/{{ item.name }}"
    state: absent
  tags:
    - libvirt
    - images

...
