---
- name: Install required packages
  loop:
    - qemu-kvm
    - libvirt-daemon-system
    - libvirt-clients
    - bridge-utils
    - python3-libvirt
    - python3-lxml
    - genisoimage
    - cloud-image-utils
    - libguestfs-tools
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - libvirt

- name: Install virt manager
  loop:
    - virt-manager
  when:
    - libvirt_manager_install
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - libvirt

- name: Write libvirtd default
  notify:
    - Restart libvirtd
  ansible.builtin.template:
    src: libvirt/libvirtd.j2
    dest: /etc/default/libvirtd
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - libvirt

- name: Write virtlogd default
  notify:
    - Restart virtlogd
  ansible.builtin.template:
    src: libvirt/virtlogd.j2
    dest: /etc/default/virtlogd
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - libvirt

- name: Write virtlockd default
  notify:
    - Restart virtlockd
  ansible.builtin.template:
    src: libvirt/virtlockd.j2
    dest: /etc/default/virtlockd
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - libvirt

- name: Write guests default
  notify:
    - Restart guests
  ansible.builtin.template:
    src: libvirt/guests.j2
    dest: /etc/default/libvirt-guests
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - libvirt

- name: Start libvirtd service
  ansible.builtin.systemd:
    name: libvirtd
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - libvirt

- name: Start virtlogd service
  ansible.builtin.systemd:
    name: virtlogd
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - libvirt

- name: Start virtlockd service
  ansible.builtin.systemd:
    name: virtlockd
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - libvirt

- name: Start guests service
  ansible.builtin.systemd:
    name: libvirt-guests
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - libvirt

...
